@import "../Components/Navbar/assets/Navbar.css";
@import "../Components/MainPageBody/assets/MainPageBody.css";
* {
  padding: 0;
  margin: 0;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.h-100 {
  height: 100%;
}
