* {
  margin: 0;
  padding: 0;
}
.modal {
  position: absolute;
  width: 100%;
  top: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.my-modal {
  margin: 100px;
  width: 200px;
  height: 200px;
  background-color: rgb(204, 204, 204);
  text-align: center;
  padding: 30px;
  position: relative;
  -webkit-box-shadow: -1px 1px 4px 12px rgba(48, 37, 44, 0.6);
  box-shadow: -1px 1px 4px 12px rgba(48, 37, 44, 0.6);
}

.my-modal button {
  position: absolute;
  top: 5px;
  right: 5px;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
}
